.select2-container {
  z-index: 9999;
}

.select2-dropdown {
  z-index: 9999;
}

.select2-container--default .select2-selection--single {
  height: 38px;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 36px;
  padding-left: 12px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 36px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  padding: 8px;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #4e73df;
}

.select2-results__option {
  padding: 8px 12px;
}

.select2-dropdown {
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}
