@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@test.Resources.Home.Resource.Welcome</h1>
    <p>@test.Resources.Home.Resource.LearnAbout <a href="https://learn.microsoft.com/aspnet/core">@test.Resources.Home.Resource.BulidingWebApps</a>.</p>
</div>
