@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="text-danger">Access Denied</h1>
        <img src="~/images/403.png" alt="Access Denied" class="img-fluid mb-4" style="max-width: 300px;" />
        <h2>You don't have permission to access this resource.</h2>
        <p class="lead">Please contact administrator if you think this is a mistake.</p>
        <a href="/Mails" class="btn btn-primary mt-3">Go to Home</a>
    </div>
</div> 