@model List<test.Models.Entity.User>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", "Admin", new { id = user.Id })">Sửa</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Admin", new { id = user.Id })">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table> 